# Ferrario Gabriele 817518 Assignment 1 
____
### Roadmap:
- Data Loading 
- Data Preprocessing
- Model Definition
- Training
- Test Prediction

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import numpy as np
import tensorflow as tf
from tensorflow import keras
from keras.layers import Dense
from keras.models import Sequential
from tensorflow.keras import layers

In [2]:
def preprocess_data(X, scaler=None):
    if not scaler:
        scaler =  MinMaxScaler()
        scaler.fit(X)
    X = scaler.transform(X)
    return X, scaler

### Data Loading

In [3]:
x_train = pd.read_csv("X_train.csv", index_col=False)

In [4]:
# elimino una colonna senza nome presente nel file csv

del x_train['Unnamed: 0']

In [5]:
x_train

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Private_room,Entire_home/apt
0,40.71239,-73.95271,4,2,0.19,1,0,1,0
1,40696.00000,-73.91303,4,17,0.66,2,307,1,0
2,40.62707,-74.02817,3,1,0.04,1,87,0,0
3,40.77910,-73.98565,1,4,0.08,1,0,0,1
4,40.75777,-73.93509,1,0,0.00,1,358,1,0
...,...,...,...,...,...,...,...,...,...
33879,40.71187,-73.95864,1,0,0.00,2,0,1,0
33880,40.74123,-73.90152,30,0,0.00,103,247,1,0
33881,40.73375,-73.95570,2,3,0.23,1,0,1,0
33882,40.73660,-73.92358,30,1,0.19,103,252,1,0
33883,40.67191,-73.95265,5,1,0.02,1,0,0,1

In [6]:
y_train = pd.read_csv("Y_train.csv", index_col=False)
# elimino una colonna senza nome presente nel file csv
del y_train['Unnamed: 0']

### Data Preprocessing
Ho eliminato le istanze che presentavano un valore del campo price maggiore o uguale a 9999.

In [7]:
y_train.loc[y_train["price"]>=9999]

       price
4255   10000
9886    9999
10350   9999
23380  10000
25158   9999

In [8]:
x_train["price"]=y_train

In [9]:
x_train = x_train.loc[x_train["price"]<9999]
x_train

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Private_room,Entire_home/apt,price
0,40.71239,-73.95271,4,2,0.19,1,0,1,0,65
1,40696.00000,-73.91303,4,17,0.66,2,307,1,0,57
2,40.62707,-74.02817,3,1,0.04,1,87,0,0,225
3,40.77910,-73.98565,1,4,0.08,1,0,0,1,175
4,40.75777,-73.93509,1,0,0.00,1,358,1,0,125
...,...,...,...,...,...,...,...,...,...,...
33879,40.71187,-73.95864,1,0,0.00,2,0,1,0,150
33880,40.74123,-73.90152,30,0,0.00,103,247,1,0,59
33881,40.73375,-73.95570,2,3,0.23,1,0,1,0,60
33882,40.73660,-73.92358,30,1,0.19,103,252,1,0,39
33883,40.67191,-73.95265,5,1,0.02,1,0,0,1,115

In [10]:
x_train["Private_room"].value_counts()

0    18427
1    15452
Name: Private_room, dtype: int64

In [11]:
x_train["Entire_home/apt"].value_counts()

1    17621
0    16258
Name: Entire_home/apt, dtype: int64

Analizzando i campi Private_room e Entire_home/apt si puÃ² notare che ci sono istanze con entrambi i valori a zero, questo potrebbe significare che ci sono problemi nei dati poichÃ¨ per ogni istanza mi aspetto un 1 in almeno uno di questi campi.

In [12]:
x_train.loc[(x_train["Private_room"]==0) & (x_train["Entire_home/apt"]==0)]

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Private_room,Entire_home/apt,price
2,40.62707,-74.02817,3,1,0.04,1,87,0,0,225
6,40.74320,-73.97605,2,0,0.00,3,324,0,0,39
9,40.71714,-73.95447,2,80,0.98,1,364,0,0,195
13,40.65421,-73.96155,2,10,0.93,1,0,0,0,47
60,40.66383,-73.92706,2,7,0.15,1,238,0,0,95
...,...,...,...,...,...,...,...,...,...,...
33578,40.76691,-73.98726,1,3,1.96,5,23,0,0,95
33640,40.71825,-73.83502,1,68,3.62,1,125,0,0,60
33706,40.72104,-73.93985,30,3,0.19,10,365,0,0,35
33776,40.61984,-73.97872,30,8,0.42,1,179,0,0,50
33837,40.65255,-73.96227,1,1,0.03,1,0,0,0,85

Aggiorno la variabile target

In [13]:
y_train = pd.DataFrame(x_train['price'], columns=['price']) 

del x_train["price"]

In [14]:
columns = x_train.columns
columns

Index(['latitude', 'longitude', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'Private_room', 'Entire_home/apt'],
      dtype='object')

Verifico la presenza di eventuali valori mancanti

In [15]:
x_train.isna().sum()

latitude                          0
longitude                         0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
Private_room                      0
Entire_home/apt                   0
dtype: int64

Analizzo le statistiche descrittive e trasformo le features ridimensionandole in un intervallo [0, 1].

In [16]:
x_train.describe()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Private_room,Entire_home/apt
count,33879.000000,33879.000000,33879.000000,33879.000000,33879.000000,33879.000000,33879.000000,33879.000000,33879.000000
mean,393.794218,-767.426857,7.103161,23.394964,1.095611,7.101981,112.996842,0.456094,0.520116
std,3773.642416,7124.278820,20.223105,44.610534,1.610519,32.749248,131.640565,0.498076,0.499603
min,40.499790,-74142.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,40.690420,-73.983500,1.000000,1.000000,0.040000,1.000000,0.000000,0.000000,0.000000
50%,40.723640,-73.956020,3.000000,5.000000,0.370000,1.000000,45.000000,0.000000,1.000000
75%,40.763905,-73.937000,5.000000,24.000000,1.590000,2.000000,227.000000,1.000000,1.000000
max,40894.000000,-73.712990,1000.000000,629.000000,58.500000,327.000000,365.000000,1.000000,1.000000

In [17]:
x_train, x_scaler = preprocess_data(x_train)
x_train

array([[5.20396047e-06, 9.99996764e-01, 3.00300300e-03, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [9.95153414e-01, 9.99997299e-01, 3.00300300e-03, ...,
        8.41095890e-01, 1.00000000e+00, 0.00000000e+00],
       [3.11552252e-06, 9.99995745e-01, 2.00200200e-03, ...,
        2.38356164e-01, 0.00000000e+00, 0.00000000e+00],
       ...,
       [5.72680428e-06, 9.99996723e-01, 1.00100100e-03, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [5.79656575e-06, 9.99997157e-01, 2.90290290e-02, ...,
        6.90410959e-01, 1.00000000e+00, 0.00000000e+00],
       [4.21310289e-06, 9.99996764e-01, 4.00400400e-03, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00]])

In [18]:
y_train

       price
0         65
1         57
2        225
3        175
4        125
...      ...
33879    150
33880     59
33881     60
33882     39
33883    115

[33879 rows x 1 columns]

In [19]:
y_train, y_scaler = preprocess_data(y_train.values)
y_train

array([[0.00764706],
       [0.00670588],
       [0.02647059],
       ...,
       [0.00705882],
       [0.00458824],
       [0.01352941]])

Verifico la trasformazione inversa

In [20]:
y_scaler.inverse_transform(y_train)

array([[ 65.],
       [ 57.],
       [225.],
       ...,
       [ 60.],
       [ 39.],
       [115.]])

In [21]:
print("len x_train: {}".format(len(x_train)))
print("len y_train: {}".format(len(y_train)))

len x_train: 33879
len y_train: 33879

Suddivido i dati di training in un insieme per il training e uno la validazione del modello.

In [22]:
x_train, x_validation, y_train, y_validation = train_test_split(x_train, y_train, test_size=0.1, random_state=0)

### Model Definition

In [23]:
inputs = keras.Input(shape = (x_train.shape[1]))
x = layers.Dense(13, activation = 'relu') (inputs)
x = layers.Dense(6, activation = 'relu') (x)
x = layers.Dense(1) (x)
model = keras.Model(inputs, x)
model.compile(loss = 'mse', optimizer='adam', metrics=['mse'])

In [24]:
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 9)]               0
_________________________________________________________________
dense (Dense)                (None, 13)                130
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 84
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 221
Trainable params: 221
Non-trainable params: 0
_________________________________________________________________

### Training

In [25]:
history = model.fit(x_train, y_train, batch_size=16, epochs=100, verbose=1, validation_data=(x_validation, y_validation))

Epoch 1/100
1906/1906 [==============================] - 6s 3ms/step - loss: 7.5136e-04 - mse: 7.5136e-04 - val_loss: 8.2512e-04 - val_mse: 8.2512e-04
Epoch 2/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.9216e-04 - mse: 5.9216e-04 - val_loss: 8.0553e-04 - val_mse: 8.0553e-04
Epoch 3/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.8435e-04 - mse: 5.8435e-04 - val_loss: 8.1010e-04 - val_mse: 8.1010e-04
Epoch 4/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.8318e-04 - mse: 5.8318e-04 - val_loss: 8.0093e-04 - val_mse: 8.0093e-04
Epoch 5/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7955e-04 - mse: 5.7955e-04 - val_loss: 8.0943e-04 - val_mse: 8.0943e-04
Epoch 6/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.8174e-04 - mse: 5.8174e-04 - val_loss: 8.1777e-04 - val_mse: 8.1777e-04
Epoch 7/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7892e-04 - mse: 5.7892e-04 - val_loss: 7.9911e-04 - val_mse: 7.9911e-04
Epoch 8/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.7772e-04 - mse: 5.7772e-04 - val_loss: 7.9567e-04 - val_mse: 7.9567e-04
Epoch 9/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7655e-04 - mse: 5.7655e-04 - val_loss: 7.9704e-04 - val_mse: 7.9704e-04
Epoch 10/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.7679e-04 - mse: 5.7679e-04 - val_loss: 8.0129e-04 - val_mse: 8.0129e-04
Epoch 11/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7612e-04 - mse: 5.7612e-04 - val_loss: 7.9145e-04 - val_mse: 7.9145e-04
Epoch 12/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.7503e-04 - mse: 5.7503e-04 - val_loss: 7.9490e-04 - val_mse: 7.9490e-04
Epoch 13/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7671e-04 - mse: 5.7671e-04 - val_loss: 7.9412e-04 - val_mse: 7.9412e-04
Epoch 14/100
1906/1906 [==============================] - 7s 3ms/step - loss: 5.7563e-04 - mse: 5.7563e-04 - val_loss: 7.9249e-04 - val_mse: 7.9249e-04
Epoch 15/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.7564e-04 - mse: 5.7564e-04 - val_loss: 7.9221e-04 - val_mse: 7.9221e-04
Epoch 16/100
1906/1906 [==============================] - 7s 3ms/step - loss: 5.7567e-04 - mse: 5.7567e-04 - val_loss: 8.0216e-04 - val_mse: 8.0216e-04
Epoch 17/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.7355e-04 - mse: 5.7355e-04 - val_loss: 7.9179e-04 - val_mse: 7.9179e-04
Epoch 18/100
1906/1906 [==============================] - 7s 3ms/step - loss: 5.7511e-04 - mse: 5.7511e-04 - val_loss: 7.8839e-04 - val_mse: 7.8839e-04
Epoch 19/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7371e-04 - mse: 5.7371e-04 - val_loss: 7.9844e-04 - val_mse: 7.9844e-04
Epoch 20/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7326e-04 - mse: 5.7326e-04 - val_loss: 7.9232e-04 - val_mse: 7.9232e-04
Epoch 21/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.7248e-04 - mse: 5.7248e-04 - val_loss: 8.1580e-04 - val_mse: 8.1580e-04
Epoch 22/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7296e-04 - mse: 5.7296e-04 - val_loss: 7.9947e-04 - val_mse: 7.9947e-04
Epoch 23/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7271e-04 - mse: 5.7271e-04 - val_loss: 7.9649e-04 - val_mse: 7.9649e-04
Epoch 24/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7405e-04 - mse: 5.7405e-04 - val_loss: 7.9184e-04 - val_mse: 7.9184e-04
Epoch 25/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.7282e-04 - mse: 5.7282e-04 - val_loss: 7.9190e-04 - val_mse: 7.9190e-04
Epoch 26/100
1906/1906 [==============================] - 7s 3ms/step - loss: 5.7166e-04 - mse: 5.7166e-04 - val_loss: 7.9605e-04 - val_mse: 7.9605e-04
Epoch 27/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7160e-04 - mse: 5.7160e-04 - val_loss: 8.3029e-04 - val_mse: 8.3029e-04
Epoch 28/100
1906/1906 [==============================] - 7s 3ms/step - loss: 5.7226e-04 - mse: 5.7226e-04 - val_loss: 7.8677e-04 - val_mse: 7.8677e-04
Epoch 29/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.7356e-04 - mse: 5.7356e-04 - val_loss: 7.8924e-04 - val_mse: 7.8924e-04
Epoch 30/100
1906/1906 [==============================] - 4s 2ms/step - loss: 5.7084e-04 - mse: 5.7084e-04 - val_loss: 7.9081e-04 - val_mse: 7.9081e-04
Epoch 31/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.6932e-04 - mse: 5.6932e-04 - val_loss: 7.9267e-04 - val_mse: 7.9267e-04
Epoch 32/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.6960e-04 - mse: 5.6960e-04 - val_loss: 7.9348e-04 - val_mse: 7.9348e-04
Epoch 33/100
1906/1906 [==============================] - 4s 2ms/step - loss: 5.7035e-04 - mse: 5.7035e-04 - val_loss: 7.9474e-04 - val_mse: 7.9474e-04
Epoch 34/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.6841e-04 - mse: 5.6841e-04 - val_loss: 7.8590e-04 - val_mse: 7.8590e-04
Epoch 35/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.6734e-04 - mse: 5.6734e-04 - val_loss: 7.8525e-04 - val_mse: 7.8525e-04
Epoch 36/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.6819e-04 - mse: 5.6819e-04 - val_loss: 7.8911e-04 - val_mse: 7.8911e-04
Epoch 37/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.6837e-04 - mse: 5.6837e-04 - val_loss: 7.9402e-04 - val_mse: 7.9402e-04
Epoch 38/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.6689e-04 - mse: 5.6689e-04 - val_loss: 7.8810e-04 - val_mse: 7.8810e-04
Epoch 39/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6629e-04 - mse: 5.6629e-04 - val_loss: 7.8340e-04 - val_mse: 7.8340e-04
Epoch 40/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.6746e-04 - mse: 5.6746e-04 - val_loss: 7.9271e-04 - val_mse: 7.9271e-04
Epoch 41/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6569e-04 - mse: 5.6569e-04 - val_loss: 7.9276e-04 - val_mse: 7.9276e-04
Epoch 42/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6745e-04 - mse: 5.6745e-04 - val_loss: 7.8835e-04 - val_mse: 7.8835e-04
Epoch 43/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6587e-04 - mse: 5.6587e-04 - val_loss: 7.9230e-04 - val_mse: 7.9230e-04
Epoch 44/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6532e-04 - mse: 5.6532e-04 - val_loss: 8.0372e-04 - val_mse: 8.0372e-04
Epoch 45/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6602e-04 - mse: 5.6602e-04 - val_loss: 7.9411e-04 - val_mse: 7.9411e-04s - loss: 5.4892e
Epoch 46/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.6595e-04 - mse: 5.6595e-04 - val_loss: 7.9174e-04 - val_mse: 7.9174e-04
Epoch 47/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6603e-04 - mse: 5.6603e-04 - val_loss: 7.8776e-04 - val_mse: 7.8776e-04
Epoch 48/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6555e-04 - mse: 5.6555e-04 - val_loss: 7.9545e-04 - val_mse: 7.9545e-04
Epoch 49/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6363e-04 - mse: 5.6363e-04 - val_loss: 7.9799e-04 - val_mse: 7.9799e-04
Epoch 50/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6488e-04 - mse: 5.6488e-04 - val_loss: 7.9558e-04 - val_mse: 7.9558e-04
Epoch 51/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6380e-04 - mse: 5.6380e-04 - val_loss: 7.8647e-04 - val_mse: 7.8647e-04
Epoch 52/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6311e-04 - mse: 5.6311e-04 - val_loss: 7.9590e-04 - val_mse: 7.9590e-04
Epoch 53/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6426e-04 - mse: 5.6426e-04 - val_loss: 7.9380e-04 - val_mse: 7.9380e-04
Epoch 54/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6173e-04 - mse: 5.6173e-04 - val_loss: 7.9152e-04 - val_mse: 7.9152e-04

Epoch 55/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6300e-04 - mse: 5.6300e-04 - val_loss: 7.9714e-04 - val_mse: 7.9714e-04
Epoch 56/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.6437e-04 - mse: 5.6437e-04 - val_loss: 7.9639e-04 - val_mse: 7.9639e-04
Epoch 57/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6209e-04 - mse: 5.6209e-04 - val_loss: 7.9097e-04 - val_mse: 7.9097e-04
Epoch 58/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6018e-04 - mse: 5.6018e-04 - val_loss: 7.9406e-04 - val_mse: 7.9406e-04
Epoch 59/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6249e-04 - mse: 5.6249e-04 - val_loss: 8.0885e-04 - val_mse: 8.0885e-04
Epoch 60/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.6313e-04 - mse: 5.6313e-04 - val_loss: 7.9524e-04 - val_mse: 7.9524e-04
Epoch 61/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6426e-04 - mse: 5.6426e-04 - val_loss: 8.0536e-04 - val_mse: 8.0536e-04
Epoch 62/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6115e-04 - mse: 5.6115e-04 - val_loss: 8.0469e-04 - val_mse: 8.0469e-04
Epoch 63/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6127e-04 - mse: 5.6127e-04 - val_loss: 8.2395e-04 - val_mse: 8.2395e-04
Epoch 64/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6111e-04 - mse: 5.6111e-04 - val_loss: 8.0819e-04 - val_mse: 8.0819e-04
Epoch 65/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5965e-04 - mse: 5.5965e-04 - val_loss: 7.9386e-04 - val_mse: 7.9386e-04
Epoch 66/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5962e-04 - mse: 5.5962e-04 - val_loss: 7.9267e-04 - val_mse: 7.9267e-04
Epoch 67/100
1906/1906 [==============================] - 7s 3ms/step - loss: 5.5942e-04 - mse: 5.5942e-04 - val_loss: 7.9548e-04 - val_mse: 7.9548e-04
Epoch 68/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.5820e-04 - mse: 5.5820e-04 - val_loss: 8.1259e-04 - val_mse: 8.1259e-04
Epoch 69/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.5747e-04 - mse: 5.5747e-04 - val_loss: 7.9105e-04 - val_mse: 7.9105e-04
Epoch 70/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5982e-04 - mse: 5.5982e-04 - val_loss: 8.0647e-04 - val_mse: 8.0647e-04
Epoch 71/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.5489e-04 - mse: 5.5489e-04 - val_loss: 8.0005e-04 - val_mse: 8.0005e-04
Epoch 72/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.5789e-04 - mse: 5.5789e-04 - val_loss: 8.3562e-04 - val_mse: 8.3562e-04
Epoch 73/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.5709e-04 - mse: 5.5709e-04 - val_loss: 8.2502e-04 - val_mse: 8.2502e-04
Epoch 74/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.5330e-04 - mse: 5.5330e-04 - val_loss: 8.8923e-04 - val_mse: 8.8923e-04
Epoch 75/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5735e-04 - mse: 5.5735e-04 - val_loss: 8.5913e-04 - val_mse: 8.5913e-04
Epoch 76/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5533e-04 - mse: 5.5533e-04 - val_loss: 7.9546e-04 - val_mse: 7.9546e-04
Epoch 77/100
1906/1906 [==============================] - 4s 2ms/step - loss: 5.5517e-04 - mse: 5.5517e-04 - val_loss: 8.3438e-04 - val_mse: 8.3438e-04
Epoch 78/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.5875e-04 - mse: 5.5875e-04 - val_loss: 8.2418e-04 - val_mse: 8.2418e-04
Epoch 79/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.5754e-04 - mse: 5.5754e-04 - val_loss: 8.2119e-04 - val_mse: 8.2119e-04
Epoch 80/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.5457e-04 - mse: 5.5457e-04 - val_loss: 7.9334e-04 - val_mse: 7.9334e-04
Epoch 81/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6238e-04 - mse: 5.6238e-04 - val_loss: 8.0227e-04 - val_mse: 8.0227e-04
Epoch 82/100
1906/1906 [==============================] - 7s 3ms/step - loss: 5.5428e-04 - mse: 5.5428e-04 - val_loss: 8.0328e-04 - val_mse: 8.0328e-04
Epoch 83/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.5182e-04 - mse: 5.5182e-04 - val_loss: 7.9191e-04 - val_mse: 7.9191e-04
Epoch 84/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.6288e-04 - mse: 5.6288e-04 - val_loss: 8.1197e-04 - val_mse: 8.1197e-04
Epoch 85/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.5547e-04 - mse: 5.5547e-04 - val_loss: 7.9883e-04 - val_mse: 7.9883e-04
Epoch 86/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.5735e-04 - mse: 5.5735e-04 - val_loss: 7.9936e-04 - val_mse: 7.9936e-04
Epoch 87/100
1906/1906 [==============================] - 4s 2ms/step - loss: 5.5885e-04 - mse: 5.5885e-04 - val_loss: 8.0162e-04 - val_mse: 8.0162e-04
Epoch 88/100
1906/1906 [==============================] - 4s 2ms/step - loss: 5.5463e-04 - mse: 5.5463e-04 - val_loss: 7.9475e-04 - val_mse: 7.9475e-04
Epoch 89/100
1906/1906 [==============================] - 4s 2ms/step - loss: 5.5667e-04 - mse: 5.5667e-04 - val_loss: 8.0666e-04 - val_mse: 8.0666e-04
Epoch 90/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.5470e-04 - mse: 5.5470e-04 - val_loss: 8.0067e-04 - val_mse: 8.0067e-04
Epoch 91/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.5405e-04 - mse: 5.5405e-04 - val_loss: 7.9100e-04 - val_mse: 7.9100e-04
Epoch 92/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.5048e-04 - mse: 5.5048e-04 - val_loss: 7.9964e-04 - val_mse: 7.9964e-04
Epoch 93/100
1906/1906 [==============================] - 3s 2ms/step - loss: 5.5090e-04 - mse: 5.5090e-04 - val_loss: 7.8973e-04 - val_mse: 7.8973e-04
Epoch 94/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5568e-04 - mse: 5.5568e-04 - val_loss: 7.8942e-04 - val_mse: 7.8942e-04
Epoch 95/100
1906/1906 [==============================] - 7s 4ms/step - loss: 5.5462e-04 - mse: 5.5462e-04 - val_loss: 8.1076e-04 - val_mse: 8.1076e-04
Epoch 96/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5378e-04 - mse: 5.5378e-04 - val_loss: 7.9530e-04 - val_mse: 7.9530e-04
Epoch 97/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.5805e-04 - mse: 5.5805e-04 - val_loss: 7.9689e-04 - val_mse: 7.9689e-04
Epoch 98/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5287e-04 - mse: 5.5287e-04 - val_loss: 7.9502e-04 - val_mse: 7.9502e-04
Epoch 99/100
1906/1906 [==============================] - 5s 3ms/step - loss: 5.5270e-04 - mse: 5.5270e-04 - val_loss: 7.9111e-04 - val_mse: 7.9111e-04
Epoch 100/100
1906/1906 [==============================] - 6s 3ms/step - loss: 5.5716e-04 - mse: 5.5716e-04 - val_loss: 8.0094e-04 - val_mse: 8.0094e-04

In [26]:
history.history['mse'][-1]

0.0005571647197939456

### Test Prediction

In [27]:
x_test = pd.read_csv("X_test.csv", index_col=False)
del x_test['Unnamed: 0']

In [28]:
x_test

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Private_room,Entire_home/apt
0,40.68579,-73.97455,2,4,0.17,1,0,0,1
1,40.67085,-73.92316,1,9,0.61,1,0,1,0
2,40.68817,-73.91523,2,31,1.35,5,0,1,0
3,40.67201,-73.86944,3,0,0.00,2,363,1,0
4,40.68696,-73.92905,1,7,0.19,1,0,1,0
...,...,...,...,...,...,...,...,...,...
3760,40.58085,-73.93934,2,73,2.15,1,330,0,1
3761,40.82760,-73.94457,1,4,0.85,2,365,1,0
3762,40.68408,-73.95659,1,4,0.30,1,0,0,1
3763,40.78277,-73.95164,2,2,0.03,1,0,0,1
3764,40.73119,-73.98819,6,1,0.01,1,0,1,0

In [29]:
x_test.loc[(x_test["Private_room"]==0) & (x_test["Entire_home/apt"]==0)]

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Private_room,Entire_home/apt
28,40687.00000,-73.93446,5,91,1.18,3,248,0,0
68,40.89785,-73.86977,2,2,0.11,2,0,0,0
75,40.64314,-73.99221,5,7,1.00,8,365,0,0
129,40.85362,-73.82949,1,0,0.00,1,364,0,0
139,40.60625,-74089.00000,4,1,0.77,7,68,0,0
...,...,...,...,...,...,...,...,...,...
3439,40.72549,-73.99198,2,0,0.00,1,0,0,0
3455,40.64681,-73.95901,3,5,0.14,1,189,0,0
3592,40.79949,-73.94265,1,8,2.40,7,90,0,0
3682,40.80069,-73.96431,7,0,0.00,1,39,0,0
3702,40.69838,-73.91965,1,0,0.00,1,0,0,0

In [30]:
x_test, _ = preprocess_data(x_test, x_scaler)

In [31]:
y_test = model.predict(x_test)

In [32]:
y_test

array([[0.02026977],
       [0.0115739 ],
       [0.0115739 ],
       ...,
       [0.02029842],
       [0.02099621],
       [0.0115739 ]], dtype=float32)

In [33]:
y = y_scaler.inverse_transform(y_test)
y

array([[172.29308],
       [ 98.37817],
       [ 98.37817],
       ...,
       [172.53654],
       [178.4678 ],
       [ 98.37817]], dtype=float32)

In [34]:
y.round()

array([[172.],
       [ 98.],
       [ 98.],
       ...,
       [173.],
       [178.],
       [ 98.]], dtype=float32)

In [35]:
file = open("Gabriele_Ferrario_817518_score1.txt", "w")
for row in y.round():
    np.savetxt(file, row)

file.close()